@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .outline-black {
      outline: 2px dotted black;
      outline-offset: 2px;
    }
  }
  
  .card {
    @apply w-48 h-64 shadow-lg rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl
  }
